.font {
  font-family: monospace;
}

.banner-1 {
  background-image: url(/assets/jvs.png);
}

.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.color {
  background-color: #ffffff;
}

.apresentacao {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: var(--fonte-primaria);
}


button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00BFFF
}

strong {
  color: #2F4F4F;
}

.conhecimento {
  text-align: center;
  font-family: courier, arial, helvetica;
}

.conhep {
  font-family: courier, arial, helvetica;
}

.java1 {
  color: rgb(255, 0, 0);
  font-size: 22px;
}

.tj {
  background-color: #424242;
  color: #dc3545;
}

.java {
  font-size: 38px;
  color: #dc3545;
}

.color2 {
  color: #000000;
}

.fontj {
  color: #dc3545;
}

.js {
  font-size: 24px;
  color: #d0ff00;
}

.ht {
  font-size: 24px;
  color: #d0ff00;
}

.cs {
  font-size: 24px;
  color: #003cff;
}

.hm {
  font-size: 38px;
  color: #d0ff00;
}

.jc {
  font-size: 38px;
  color: #d0ff00;
}

.css {
  font-size: 38px;
  color: #003cff;
}

.git {
  font-size: 24px;
  color: #050505;
}

.gt {
  font-size: 38px;
  color: #050505;
}

.inf {
  text-decoration: none;
}

.modo {
  color: #050505;
}

.colo3 {
  color: #00BFFF;
}

.contato {
  font-size: 16px;
  color: #003cff;
}

.font3 {
  font-size: 18px;
}

.boder {
  border: none;
}

.whast {
  font-size: 20px;
  color: #003cff;
}

.java12 {
  color: rgb(255, 0, 0);
  font-size: 38px;
}

.des {
  color: #050505;
}

.forme{
  background-color: #272a37;
}

.formulario {
  width: 100%;
  max-width: 30rem;
}

#men,
#inp,
#mensagem,
.formulario {
  display: block;
}

#inp,
#mensagem,
.formulario {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

.formulario,
#mensagem {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#inp:hover,
#men:focus,
#mensagem:hover,
#mensagem:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

#men {
  margin-bottom: 0.5rem;
  color: #84868f;
}

#mensagem {
  min-height: 12.5rem;
  resize: vertical;
}

#enviar {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
}

#enviar:hover,
#enviar:focus {
  outline: none;
  background: #1c70d3;
}

.formulario:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

